/.idea/
/hadoop/example/hadoop-example.iml
/hadoop/example/hdfs-example/hdfs-example.iml
/hadoop/example/mapreduce-example/mapreduce-example.iml
/zookeeper/example/zookeeper-example.iml
/zookeeper/example/zkclient-example/zkclient-example.iml
/zookeeper/example/zkclient-example/target/
/hadoop/example/mapreduce-example/target/
/hadoop/example/mapreduce-example/dependency-reduced-pom.xml
/spark-example/spark-example.iml
/spark-example/target/
/hadoop/example/hdfs-example/target/
